.sliderStyle1 {
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    /* background-color: #ececec; */
    border-radius: 100%;
    /* margin-right: -1rem;
      margin-left: -1rem; */
    color: var(--color-primary) !important;
    fill: var(--color-primary) !important;
    stroke: var(--color-primary) !important;
    width: 50px !important;
    z-index: 40;
  }
  .swiper-button-prev::after {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .swiper-button-next::after {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .swiper-button-prev {
    left: -2% !important;
  }
  .swiper-button-next {
    right: -2% !important;
  }
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: var(--color-primary);
    opacity: 1;
    background: rgb(255, 255, 255);
    bottom: -2rem;
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: var(--primary);
  }

  @media only screen and (max-width: 640px) {
    .swiper-button-next,
    .swiper-button-prev {
      width: 25px;
      height: 25px;
      /* display: none; */
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 15px;
    }
  }
}

.sliderStyle {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: "" !important;
  }
}

.swiper-outer-buttons {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: "" !important;
  }
}